.wrapper {
    position: relative;
    z-index: 2;
}

.quoteBox {
    border-radius: 3px;
    position: relative;
    width: 450px;
    padding: 40px 50px;
    display: table;
    background-color: #fff;
    z-index: 2;
    color: rgb(189, 187, 153);
}

.quoteText {
    opacity: 1;
    text-align: center;
    width: 450px;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.75em;
}

.quoteAuthor {
    width: 450px;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1em;
    text-align: right;

}

.buttons {
    width: 450px;
    margin: auto;
    display: block;
}

.button {
    background-color: rgb(189, 187, 153);
}

.button {
    height: 38px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 0.85em;
    outline: none;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;
    padding: 8px 18px 6px 18px
}

.footer {
    width: 450px;
    text-align: center;
    display: block;
    margin: 15px auto 30px auto;
    font-size: 0.8em;
    color: #fff;
}

.footer a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}